body {
	background-image: url(../images/background.jpg);
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	height: 100%;
}

h1 {
	text-align: center;
	family-font: verdana;
	font-size: 80px;
	color: white;
}

h3 {
	text-align: center;
	family-font: verdana;
	font-size: 30px;
	color: white;
}

fieldset {
	background-color: #eeeeee;
	width: 80%;
	height: 75%;
	margin: auto;
}

legend {
	background-color: #eeeeee;
}